

/* ===================== HEADER CSS  START================================== */

body {
  margin: 0;
  padding: 0;
}

#header {
width: 100%;
position: relative;
align-content: center;
z-index: 1;


  /* background-image: url('https://www.sskunjpura.org/admin/logged/images/homeslider/c81e728d9d4c2f636f067f89cc14862c2-Academic-Block-(SS-Kunjpura)-(1).jpg');
  height: 600px;
  width: 100vw;
  filter: brightness(90%);
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: 100%; */
}

#header2 {
height: 700px;
object-fit: contain;
width: 100%;
position: absolute;
top: 0;

}

.navtoxix {
/* backdrop-filter: blur(10px); */
/* backdrop-filter: brightness(.5); */
  max-width: 1440px;

}





/* #head_text{
  margin-top: 25px;
  display: inline-block;
  
  padding-bottom:2px;
  background-image: linear-gradient(#000 0 0);
  background-position: 0 100%; 
  background-size: 0% 2px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s;
    
    
}

#head_text:hover {
  background-position: 100% 100%; 
  background-size: 100% 2px;
  
}

#head_text_a {
  transition: margin-bottom 0.3s ease; 
}
#head_text_a:hover {
  color: rgb(37, 172, 221);
  margin-bottom: 10px;
}

#head_text a {
  list-style: none;
  text-decoration: none;
  font: 2rem sans-serif;
  
  font-weight: bold;
  color: rgb(133, 147, 155);
  margin-top: 25px;
} */
#logo {
  width: 150px;
  height: 100px;
  object-fit: contain;

}

.list {
  
  display: flex;
  align-items: center; 
  justify-content: space-between; 
  margin-left: 20px;
  margin-right: 20px;


}

.toggt {
  display: flex;
  align-items: center;
  gap: 30px;

}





.LISTES {
  
  list-style: none;
  text-decoration: none;
  color: rgb(78, 199, 255);
  font-size: 20px;
  margin-right: 15px;
  font-weight: 500;

  padding-bottom:2px;
  background-image: linear-gradient(#2bdfff 0 0);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 2px;
  background-repeat: no-repeat;
  
  transition:
    background-size 0.3s,
    background-position 0s 0.3s,
    margin-bottom 0.3s ease
    
  
}

.LISTES:hover {

margin-bottom: 15px;
color: rgb(255, 160, 160);
list-style: none;
text-decoration: none;
background-position: 100% 100%; /*OR bottom right*/
background-size: 100% 2px;


}





#icon {
  display: none;
  margin-right: 25px;
  margin-top: 10px;
  font-size: 30px;
  border: 1px solid gold;
  color: rgb(252, 91, 91);
  border-radius: 8px;
  cursor: pointer;
  

}


#obg {
width: 100%;
max-height: 1480px;
height: 650px;
filter: brightness(80%);
}

#nav_bottum_text  {
display: block;
}

#nav_bottum_text1  {
display: block;
}

#nav_text_flex {
 max-height: 600px;
 height: 100vh;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

}

.nav_h1 {
font-size: 3rem;
font-weight: 700;

}

#nav_bottum_text2 {
font-size: 40px;
}

.span_text {
color:  rgb(56 189 248);
}


#header_btn {
margin-top: 15px;
height: 50px;
width: 170px;
font-size: 20px;
border-radius: 30px;
background-color: transparent;
border: 1px solid rgb(56 189 248);
color: rgb(56 189 248);
cursor: pointer;
transition: background-color 600ms ease;

}

#header_btn:hover {
background-color: rgb(56 189 248);
color: white;
border: 1px solid white;
}


/* ===================== SECTION 1 CSS  START================================== */


#main_line {
margin-top: 40rem;

}

/* #section1 {
ma
} */



.span_text2 {
color:  rgb(56 189 248);
}
#section1_text1 {
font-weight: 600;
text-align: center;
font-size: 3rem;
}

#section1_data {
display: flex;
justify-content: center;
align-items: center;
gap: 150px;
background-color: rgb(255, 255, 255);
width: 100%;
height: 800px;
}

.section1_img {
height: 600px;
width: 500px;
background-color: #ffffff;
}

.data {
height: auto;
width: 500px;
background-color: #ffffff;
}

#section1_h1 {
font-size: 50px;
font-weight: 600;
color: rgb(56 189 248);
}

#section1_p_tag {
color: rgb(56 189 248);
font-size: 30px;
font-weight: 400;
margin-top: 20px;
}

#section1_p_tag2 {
color: rgb(0, 0, 0);
font-size: 35px;
font-weight: 400;
margin-top: 20px;

}


/* #section1_main_img {
height: 200px;
width: 400px;
margin-left: 30px;
margin-top: 30px;
border-radius: 20px;
transition: filter 0.5s ease;
filter: grayscale(100%);


} */

.image-container {
position: relative;
}
.image-container img {
display: block;
width: 100%;
transition: opacity 0.5s ease;
}
.image-container .overlay {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: rgba(0, 0, 0, 0.5);
color: #fff;
display: flex;
align-items: center;
justify-content: center;
opacity: 0;
transition: opacity 0.5s ease;
}
.image-container:hover .overlay {
opacity: 1;
}


#section1_btn {
border-radius: 4px;
background-color: #5ca1e1;
border: none;
color: #fff;
text-align: center;
font-size: 25px;
width: 120px;
transition: all 0.5s;
cursor: pointer;
margin-top: 20px;
box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

#section1_data_btn{

display: inline-block;
position: relative;
transition: 0.5s;
}

#section1_btn:after {
content: '»';
font-size: 40px;
position: absolute;                               
opacity: 0;  
top: 149px;
right: 100px;
transition: 0.5s;
}

#section1_btn:hover{
padding-right: 24px;
padding-left:8px;
}

#section1_btn:hover:after {
opacity: 1;
right: 210px;
}

#data_val {
font-size: 30px;
padding: 25px;
font-weight: 600;
text-decoration: underline;
text-underline-offset: 15px;
}

#data_p1 {
font-weight: 400;
margin-top: 20px;

}

#data_p2 {

font-weight: 400;
margin-top: 20px;
}

#data_list {
font-weight: 400;
margin-top: 20px;
list-style: "\2713";
 color: rgb(56 189 248);
}

.data_list_li {
margin: 10px;
padding-left: 15px;

}

#data_a_tag {
text-decoration: none;
}

#section1_data_btn {
border-radius: 4px;
background-color: #5ca1e1;
border: none;
color: #fff;
text-align: center;
font-size: 25px;
width: 120px;
transition: all 0.5s;
cursor: pointer;
margin-top: 20px;
box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
}

#section1_data_btn{

display: inline-block;
position: relative;
transition: 0.5s;
}

#section1_data_btn:after {
content: '»';
font-size: 40px;
position: absolute;
opacity: 0;  
top: -13px;
right: -20px;
transition: 0.5s;
}

#section1_data_btn:hover{
padding-right: 24px;
padding-left:8px;
}

#section1_data_btn:hover:after {
opacity: 1;
right: 15px;
}



/* ==================== section 2 css ======================================== */

#main_section2 {

}


#section2 {
  padding: 90px;
  background-color: black;
}

#section2_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  width: 100%;
  height: 400px;
  
  
  
}

.section2_data1 {
  width: 300px;
  height: auto;
  background-color: aquamarine;
}

.section2_data2 {
  width: 300px;
  height: 300px;
  background-color: rgb(155, 6, 168);
}

.section2_data3 {
  width: 300px;
  height: 300px;
  background-color: rgb(255, 200, 127);
}

.section2_data4 {
  width: 300px;
  height: 300px;
  background-color: rgb(228, 93, 93);
}



.section2_img {
  object-fit: contain;
}

#section2_img1 {
  width: 281px;
  height: 200px;
  
  
  
}

#section_a_tag {
 text-decoration: none;
  margin-bottom: -15px;
}

#section2_text1 {
  color: rgb(85, 85, 85);
  font-size: 20px;
  font-weight: 400;
  margin-bottom: -15px;

}

#section2_text2 {
  color: rgb(85, 85, 85);
  font-size: 60px;
  margin-bottom: -15px;


}

#section2_text3 {
  color: rgb(85, 85, 85);
  font-size: 20px;
  font-weight: 400;
  

}