
@media screen and (max-width: 650px) and (orientation : portrait) {
  body {
    margin: 0;
    padding: 0;
  }

  #logo {
      width: 90px;
      height: 40px;
      object-fit: contain;
      margin-top: 5px;
       
      
  }

  #icon {
     display: flex;
      
  }
  .navtoxix {
      backdrop-filter: blur(0px);
      max-width: 1280px;
      display: flex;
      justify-content: space-between;
      margin-left: 0px;  
      margin-right: 0px; 
  }

  .list {
      
      display: flex;
      justify-content: center;
      align-items: center;
      
  }

  .toggt {
      display: none;
     
  }

  .toggt2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: bold;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      gap: 10px;
      position: absolute;
      left: 0; 
      top: 0;
      height: 180px;
      width: 150px;
     
      color: red;
      background-image: url('https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg');
      object-fit: contain;
      animation: mymove 2s;
      animation-timing-function: ease-out;
      
      
  }

  @keyframes mymove {
      from {left: -200px;}
      to {left: 0px;}
  }

  #obg {
      width: 100%;
      height: fit-content;
      
    }

    #nav_bottum_text2 {
      display: none;
    }

    #nav_text_flex {
      max-height: 50px;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .nav_h1 {
      font-size: 20px;
    }

    #header_btn {
      display: none;
    }
 

    #main_line {
      margin-top: 16.5rem;
    
    }

    #section1_text1 {
      font-weight: 600;
      text-align: center;
      font-size: 1.9rem;
    }
}



@media only screen  and (max-width : 700px) and (max-width : 850px) and (orientation : landscape)  {

  body {
    margin: 0;
    padding: 0;
  }

  #logo {
      width: 90px;
      height: 40px;
      object-fit: contain;
      margin-top: 5px;
       
      
  }

  #icon {
     display: flex;
      
  }
  .navtoxix {
      backdrop-filter: blur(0px);
      max-width: 1280px;
      display: flex;
      justify-content: space-between;
      margin-left: 0px;  
      margin-right: 0px; 
  }

  .list {
      
      display: flex;
      justify-content: center;
      align-items: center;
      
  }

  .toggt {
      display: none;
     
  }

  .toggt2 {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: bold;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px;
      gap: 10px;
      position: absolute;
      left: 0; 
      top: 0;
      height: 180px;
      width: 150px;
     
      color: red;
      background-image: url('https://img.freepik.com/free-photo/abstract-autumn-beauty-multi-colored-leaf-vein-pattern-generated-by-ai_188544-9871.jpg');
      object-fit: contain;
      animation: mymove 2s;
      animation-timing-function: ease-out;
      
      
  }

  @keyframes mymove {
      from {left: -200px;}
      to {left: 0px;}
  }

  #obg {
      width: 100%;
      height: fit-content;
      
    }

    #nav_bottum_text2 {
      display: none;
    }

    #nav_text_flex {
      max-height: 50px;
      
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .nav_h1 {
      font-size: 20px;
    }

    #header_btn {
      display: none;
    }
 

    #main_line {
      margin-top: 13rem;
    
    }

    #section1_text1 {
      font-weight: 600;
      text-align: center;
      font-size: 1.9rem;
    }
  #main_line {
    margin-top: 22rem;
  
  }
}







/* ================================ section 1 css ========================================== */

@media screen and (max-width: 650px) and (orientation : portrait) {



  #section1_data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    flex-direction: column;
}

.section1_img {
  height: 250px;
  width: 300px;
  background-color: #ffffff;
}

.data {
  height: auto;
  width: 300px;
  background-color: #ffffff;
 
}

#section1_p_tag {
  font-size: 1.3rem;
}

#section1_p_tag2 {
  font-size: 1.3rem;
}

#section1_btn {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 25px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  #section1_data_btn{
  
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }
  
  #section1_btn:after {
  content: '»';
  font-size: 40px;
  position: absolute;                               
  opacity: 0;  
  top: 80px;
  right: 00px;
  transition: 0.5s;
  }
  
  #section1_btn:hover{
  padding-right: 24px;
  padding-left:8px;
  }
  
  #section1_btn:hover:after {
  opacity: 1;
  right: 112px;
  }

}



@media only screen  and (max-width : 700px) and (max-width : 850px) and (orientation : landscape) {
  #section1_data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16rem;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    flex-direction: column;
}

.section1_img {
  height: 250px;
  width: 300px;
  background-color: #ffffff;
}

.data {
  height: auto;
  width: 300px;
  background-color: #ffffff;
 
}

#section1_p_tag {
  font-size: 1.3rem;
}

#section1_p_tag2 {
  font-size: 1.3rem;
}


#section1_btn {
  border-radius: 4px;
  background-color: #5ca1e1;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 25px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 20px;
  box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  #section1_data_btn{
  
  display: inline-block;
  position: relative;
  transition: 0.5s;
  }
  
  #section1_btn:after {
  content: '»';
  font-size: 40px;
  position: absolute;                               
  opacity: 0;  
  top: 80px;
  right: 00px;
  transition: 0.5s;
  }
  
  #section1_btn:hover{
  padding-right: 24px;
  padding-left:8px;
  }
  
  #section1_btn:hover:after {
  opacity: 1;
  right: 112px;
  }


  
}